version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      # mount code for hot reload
      - .:/app
      # isolate node_modules
      - /app/node_modules
      # isolate .next build
      - /app/.next
    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true

